@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">

    <div class="row">

        <div class="col-sm-4">

            <div class="card">

                <img class="card-img-top" src="images/profile.jpeg" alt="the image alt text here">

                <div class="card-body text-center">

                    <h5 class="card-title">Profile</h5>

                    <p class="card-text text-left">View and edit your profile information</p>
                    <a href="#" class="btn btn-primary">View your profile</a>

                </div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="card">

                <img class="card-img-top" src="images/maintenance.jpg" alt="the image alt text here">

                <div class="card-body text-center">

                    <h5 class="card-title">Maintenance Complaints</h5>
                   
                    <p class="card-text text-left">Roof Leaking? Toilet Clogged? Contact Us!</p>

                    <a asp-area="" asp-controller="Home" asp-action="Report" class="btn btn-primary">Contact Maintenance</a>

                </div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="card">

                <img class="card-img-top" src="images/billpay.jpeg" alt="the image alt text here">

                <div class="card-body text-center">

                    <h5 class="card-title text-center">Bill Pay</h5>

                    <p class="card-text text-left">We accept all major credit cards</p>

                    <a asp-area="" asp-controller="Home" asp-action="BillPay" class="btn btn-primary text-right" >Pay Your Bill</a>

                </div>

            </div>

        </div>

    </div>

</div>
<div class="container">


    <div class="row">

        <div class="col-sm-4">

            <div class="card">

                <img class="card-img-top" src="images/bulletin.jpg" alt="the image alt text here">

                <div class="card-body text-center">

                    <h5 class="card-title">Bulletin Board</h5>

                    <p class="card-text text-left">Find out what's going on around the complex!</p>

                    <a href="#" class="btn btn-primary">More Info</a>

                </div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="card">

                <img class="card-img-top" src="images/staff.jpg" alt="the image alt text here">

                <div class="card-body text-center">

                    <h5 class="card-title">Meet the Staff</h5>

                    <p class="card-text text-left">Meet the lovely staff of our Apartment Complex!</p>

                    <a href="#" class="btn btn-primary">Go!</a>

                </div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="card">

                <img class="card-img-top" src="images/Things-to-do.jpg" alt="the image alt text here">

                <div class="card-body text-center">

                    <h5 class="card-title text-center">Things To Do</h5>

                    <p class="card-text text-left">New to the area? Find things to do nearby!</p>

                    <a href="#" class="btn btn-primary text-right">More Info</a>

                </div>

            </div>

        </div>

    </div>

</div>